.selection {
  display: flex;
  justify-content: center;
  gap: 40px;
  transition: 0.5s;

  span {
    font-size: 16px !important;
  }

  h4 {
    cursor: pointer;
    padding: 15px;
    border-radius: 24px;
    font-size: 18px;
  }
  .active {
    color: white;
    background-color: #3565ab;
  }

}

.banner {
  background-color: #3565ab !important;
  padding: 24px 18px 55px 18px;
  color: white;
  // border-radius: 24px;
  // width: 90%;
  text-align: center;
}

.cards {
  position: relative;
  margin-top: -52px;
}