.Drawer {
    display: none !important;
    position: sticky;
    top: 0;
    background-color: transparent;
    z-index: 1;
    @media screen  and (max-width : 768px){
        display: block !important;
    }

    .Drawer_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0 24px 0;

    }

}

.logo{
    width: 120px;
    height: 80px;
    aspect-ratio: 1 / 1;
}
.Drawer_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px 0;
    gap: 12px;
    background-color: #3565ab;
    a {
        text-decoration: none;
        color: white;
    }
    
}