.headerContainer {
  background-color: #a60f0c !important;
  position: sticky;
  z-index: 5555;
  top: 0;
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 24px 0;

  width: 99.2vw !important;
  max-width: 100vw !important;
  margin: 0 calc(-50vw + 50%);

  @media screen and (max-width: 768px) {
    padding: 8px 0;
  }

  .Imglogo {
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border-radius: 14px;
  }

  .links {
    a {
      text-decoration: none;
      color: white;
      transition: 0.5s;
    }
    a:hover {
      color: #8f6463;
    }
    .activeLink {
      width: 50%;
      height: 2px;
      background-color: white;
      border-radius: 50px;
    }

    .notActive {
      width: 1px;
      height: 2px;
      background-color: #a60f0c;
      border-radius: 50px;
    }

    .activeLink_container:hover {
      .activeLink {
        transition: 0.5s;
        width: 100%;
        background-color: #8f6463;
      }
    }
  }


}

.desktopHeader {
  background-color: #a60f0c;
  display: flex;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
