@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Dancing+Script:wght@400..700&family=Vampiro+One&display=swap");
p {
  font-size: 1.7rem !important;

  @media screen and (max-width: 768px) {
    font-size: 1rem !important;
  }
}

h2 {
  @media screen and (max-width: 768px) {
    font-size: 2.5rem !important;
  }
}

body {
  position: relative;
  overflow-x: hidden !important;
  scroll-behavior: auto !important;
}


/*
 *---------------------------------
 * RESET INPUTS
 *---------------------------------
 */
 .MuiAutocomplete-root {
  padding: 0 !important;
  min-width: 100% !important;

  .MuiInputBase-root {
    padding: 0;

    label {
      top: -1px;
    }
  }
}

.MuiTextField-root,
.MuiInputBase-root {
  height: 48px;
  min-width: 100% !important;
  border-radius:  8px !important;
}

fieldset {
  border-radius:  8px !important;
}


input,
.MuiSelect-select {
  padding: 0 1rem !important;
  height: 100% !important;
  display: flex;
  align-items: center;
}

.MuiTextField-root label {
  line-height: inherit !important;
  top: -3.5px !important;
}

/*
 *---------------------------------
 * HANDLE INPUTS FOCUSED
 *---------------------------------
 */

.Mui-focused fieldset {
  border-color: #3565ab !important;
  border-width: 1px !important;
}

label.Mui-focused {
  color: 3565ab !important;
}


.MuiFormControl-root:has(.Mui-error) {
  height: 70px !important;
}



.MuiFormHelperText-root {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding: 0 10px !important; 
  min-height: 17px !important;
}


.MuiFormHelperText-root {
  font-size: 12px !important;
}

.MuiBox-root {
  background-color: white;

}

.MuiClockNumber-root.Mui-disabled {
  color: rgba(255, 0, 0, 0.162);
}

.MuiClockNumber-root  {
  font-weight: 500;
}
