.CustomButton {
    background-color: #a60f0c;
    color: white;
    border-radius: 24px;
    border: 1px solid #a60f0c;
    padding: 8px 20px;
    font-weight: bold;
}

.CustomButton:hover {
    background-color: white;
    border: 1px solid #a60f0c;
    color: #a60f0c;
}